header .container{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    position: fixed;
    position: top;
    top: 0;
    width: 100%;
    height: 8.8rem;
    display: flex;
    background-color:black;
}
header nav{
    display: flex;
    align-items: center;     
}
header .menu-mobile{ 
    display: none;
}

header nav ul{
    display: flex;
    margin-right: 3.2rem;
}
header nav ul li{
    display: flex;
    margin-right: 3.2rem;
}
header nav ul li:last-child {
    display: flex;
}

/* style section*/
.s-hero {
    padding:7.6rem;
    padding-top: 112px;
}
.s-hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.s-hero .text{
    width: 100%;
    max-width: 640px;
}

.s-hero .text h1{
    margin-bottom:20px;
}
.s-hero .text p{
    margin-top:20px;
}
.s-hero .text a{
    margin-top:20px;
    max-height: 488px;
    font-size: 18px;
    line-height: 150%;
}
.s-hero .image{ 
    width: 100%;    
    max-width: 488px;
    height: 496px;
    display: flex;
    background-color: var(--gray-color-50);
    align-items: center;
    justify-content: center;
}
/* section cards */

.s-card-featured{
    background-color:rgb(64, 64, 67);
    padding-top: 10.4rem;
    padding-bottom: 12rem;
    }

.s-card-featured .container .main-area{
    border-bottom: rgba(0, 255, 76, 0.874);
    padding-bottom: 0.5rem;
}

.s-card-featured .container .tittle{
    display: flex;
    flex-direction: column;
}
.s-card-featured .tittle .h2{
    align-items: center;
    color: aquamarine;
}

.s-card-featured .tittle.center{
    align-items: center;
}

.s-card-featured .tittle p{
    margin-top: 0.8rem;
    align-items: center;
}

.s-card-featured p{
    color: rgb(246, 228, 228);
}

.s-card-featured .all-cards{
    display: flex;
    justify-content: space-between;
    margin-top: 4.8rem;
    }

.s-card-featured .all-cards .card{
    width: 100%;
    max-width: 384px;
    height: 382px;
    background-color : #37383a;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0,5rem;
    text-align: center;
    border: 12px;
    }

.s-card-featured .all-cards .card .info{
        margin-top: 4rem;
        max-width: 28.8rem;
        }
.s-card-featured .all-cards .card .info .h3{
    text-align: center;
    align-items: left;  
    }

.s-card-featured .all-cards .card .info .p{
    text-align: center;
    margin-top: 20;
}

.s-card-featured .all-cards .card .white{
    background-color: var(#fff);
}

.s-card-featured .all-cards{
    color: aqua;
    }
/* section footer */
.footer{
background-color: rgb(0, 0, 0);
padding: 10px
}
.foot{
    /*padding: 3rem;*/
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content:center;
    align-items: center;
    border-radius: 25rem;
}
.image{
    clip-path: polygon(71% 9%, 100% 50%, 74% 88%, 13% 88%, 25% 50%, 15% 9%);
}
.blog{
    margin-top: 100px;
    margin-bottom: 30px;
    padding: 20px;
}
p{
    font-family: Courier, "Lucida Console", monospace;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 1.5px;
    text-decoration: underline;
    text-align: center;
    color: rgba(1, 1, 1, 0.791);
}
.foto{
    margin-left: 42%;
}