:root{
    --brand-color-pink: #f67acb;
    --gray-color-100: #050110;
    --gray-color-50: rgba(202, 182, 182, 0.178);
    --white-color-text: rgba(255,255,255,0.7);
    --gray-color-300: #393c40;
    --white-color-main: #fff;
}